body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
 .contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #ffffff;
  float: left;
  width: 44px;
  height: 44px;
  background: #D24848;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #000000;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #272727;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
  margin-bottom: 20px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #bd0c4a;
  color: #fff;
}

.contact iframe{
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 8%;
}
@media (max-width: 1200px) {
  .contact iframe{
    position: relative;
    top: 10%;
  }
} 

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  margin-top: 3rem;
  background: #D24848;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}


/* CTA Section */
.cta-section {
  background: #D24848;

  color: #1acc8d;
}

.cta-section img{
  height: 80px;
}

.cta-section h2 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .cta-section h2 {
    font-size: 2rem;
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 2rem 0 2.5rem 0;
}

.footer h3 {
  font-size: 18px;
  margin-bottom: 30px;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer a {
  color: #000;
}

.footer .copyright {
  margin-bottom: 0px;
  font-size: 14px;
  margin-top: 20px;
}
.social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 30%;
  background: #f8f9fa;
  position: relative;
  text-align: center;
  transition: 0.3s background ease;
  color: #000000;
  line-height: 0;
}
.footer{
  background: #D24848;
  color: #fff;
}
.social a span {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.social a:hover {
  color: #fff;
  background: #34e5a6;
}

.social a i {
  line-height: 0;
} 
